
    </main>

    <div id="ftr" class="ftr">
        <p>© 2024 - Present BlogCreator. All rights reserved.</p>
    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->
</body>
</html>