<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogCreator</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="icon" href="../../public/assets/icons/blog.ico" >
</head>
<body>
    <nav>
        <div id="logo" class="logo">
            <a href="/"><img src="images/blog.png" alt="blog image"></a>
            <a href="/"><p class="heading">BlogCreator</p></a>
        </div>
        <div id="options" class="options">
            <ul id ="navbar-items" class="navbar-items">
                <a class="nav-link" href="/"><li id="home">Home</li></a>
                <a class="nav-link" href="/write"><li id="write">Write</li></a>
                <a class="nav-link" href="/read"><li id="read">Read</li></a>
                <a class="nav-link" href="/about"><li id="about">About</li></a>
                <a class="nav-link" href="/contact"><li id="contact">Contact</li></a>
                <a class="nav-link" href="/login"><li id="login"><%= value %></li></a>
            </ul>
        </div>
    </nav>

    <main>