<%- include("partials/header.ejs",{value:val}) %>

<div id="aboutcontainer">
    <p id="para1">About us</p>
    <p id="description">
        Welcome to BlogCreator, where creativity meets expression! We are passionate about empowering individuals to share their stories, ideas, and expertise with the world. 
        Our mission is to provide a user-friendly and customizable platform for bloggers of all backgrounds.
    </p>
    <h2 id="Apart">What Sets Us Apart</h2>
    <ul id="points">
        <li class="chrts"><strong>User-Friendly:</strong> Our intuitive interface makes blogging accessible to everyone, from beginners to seasoned writers.</li>
        <li class="chrts"><strong>Customization:</strong> Personalize your blog with ease, reflecting your style and brand through customizable templates.</li>
        <li class="chrts"><strong>Community Building:</strong> Connect with readers and fellow bloggers, fostering a sense of community through comments and social media integration.</li>
        <li class="chrts"><strong>Passion-Driven Content:</strong> We believe in the power of authentic storytelling. Share your passions, experiences, and expertise with the world.</li>
    </ul>

    <p id="slogan">
        Join us at BlogCreator by Creating your blog and embark on a journey of self-expression, creativity, and community building. Your voice matters, and we're here to help you amplify it!
    </p>

</div>

<%- include('partials/footer.ejs') %>