<%- include("partials/header.ejs",{value:val}) %>
<div id="output">
    <h1 id="usernmae">Dear <%= name %>,</h1>
    <p class="aprreciation-letter">Thank you for reaching out to us and sharing your suggestions. We want to express our sincere appreciation for your thoughtful input, which we assure you is being used mindfully.
    </p><br>
    <p class="aprreciation-letter">At blogCreator, we value the perspectives of our community, and your feedback contributes significantly to our ongoing efforts to enhance our services. Your insights are instrumental in shaping our approach, and we are grateful for your commitment to making a positive impact.</p><br>
    <p class="aprreciation-letter">Should you have any further suggestions or concerns, please do not hesitate to share them with us. We are here to listen and are dedicated to continuously improving our offerings based on the valuable feedback we receive.
    </p><br>
    <p class="aprreciation-letter">Once again, thank you for being an integral part of our community, and we look forward to serving you better.
    </p>
    <p class="aprreciation-letter">Best regards</p><br>
    <p class="aprreciation-letter">Parveen Kumar</p><br>
    <p class="aprreciation-letter">Founder/Creator</p><br>
    <p class="aprreciation-letter">BlogCreator</p>
</div>
<%- include('partials/footer.ejs') %>